* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: #f5f7fb;
  overflow: hidden;
}

/* ================= TOPBAR ================= */
.topbar {
  height: 80px;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.topbar-left img {
  height: 32px;
}

.title {
  font-size: 26px;
  color: #ff6767;
  font-weight: 600;
}

.topbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.topbar-center input {
  width: 420px;
  padding: 12px 16px;
  border-radius: 25px;
  border: none;
  background: #f1f3f6;
}

.topbar-right {
  text-align: right;
}

.topbar-right span {
  color: #3fa9f5;
  font-size: 14px;
}

/* ================= PAGE ================= */
.page {
  display: flex;
  height: calc(100vh - 80px);
}

/* ================= SIDEBAR ================= */
.sidebar {
  width: 280px;
  background: #ff6b6b;
  padding: 30px 25px;
  color: #fff;

  display: flex;
  flex-direction: column;

  height: 100%;          /* important */
  overflow-y: auto;     /* sidebar scroll */
}

.profile {
  text-align: center;
  margin-bottom: 40px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;   /* rund */
  overflow: hidden;     /* damit das Bild nicht über den Kreis hinausgeht */
  margin: 0 auto 12px;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* Bild füllt den Kreis, ohne verzerrt zu werden */
}

.profile p {
  font-size: 12px;
  opacity: 0.9;
}

.menu {
  list-style: none;
  margin-bottom: auto;
}

.menu li {
  padding: 14px;
  margin-bottom: 14px;
  border-radius: 10px;
  display: flex;
}

.menu li img {
  margin-right: 10px;
}

.menu .active {
  background: #fff;
  color: #ff6767;
  font-weight: 600;
}

.logout {
  font-size: 14px;
}

.logout img {
  margin-right: 10px;
}

/* ================= MAIN ================= */
.main {
  flex: 1;
  overflow: hidden;
}

.content {
  height: 100%;
  padding: 25px;
  display: flex;
  gap: 25px;
  overflow-y: auto;
}

/* ================= TASK LIST ================= */
.task-list {
  background: #fff;
  width: 35%;
  border: 1px solid #000000;
  border-radius: 14px;
  padding: 0px 8px 0px 8px;
  box-shadow: 5px 5px 5px rgb(178, 178, 178);
}

.task-card {
  background: #fff;
  padding: 18px;
  border-radius: 14px;
  border: 1px solid #000000;
  margin-top: 8px;
}

.meta {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.red { color: red; }
.blue { color: #3fa9f5; }

/* ================= DETAILS ================= */
.task-details {
  flex: 1;
  background: #fff;
  padding: 25px;
  border-radius: 14px;
  border: 1px solid #000000;
  box-shadow: 5px 5px 5px rgb(178, 178, 178);
}

.description {
  margin: 12px 0;
  color: #555;
}
